/backend/   @dgimenezdeveloper @rcrossa @dario923 @arielrz-dev
/frontend/  @manfredcamacho @rcrossa @Arleni1108
/data/      @rcrossa
/qa/        @rcrossa 
/ux-ui/     @DanaStornello @Viky-dotcom
/infra/     @rcrossa @dgimenezdeveloper @dario923 @arielrz-dev
/no-roles/  